<!doctype html>
<html>
  <head>
    <title>CSV Flight Emissions Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div class="topnav">
      <img src="{{url_for('static', filename='img/paper_plane.png')}}"/>
      <a class="active" href="/">Home</a>
      <a href="/single">Calculator</a>
      <a href="/bulk">Bulk Upload</a>
    </div>
    <h1>Emission Calculator</h1>
    <p>
      Choose single or bulk entry at the top to calculate emissions from your flights.
      So Far this app has calculated emissions for {{ n_flights }} flights!
      This totals to {{ total_em }} tonnes of CO2.
    </p>
    <br>
    
  </body>
</html>