<!doctype html>
<html>
  <head>
    <title>CSV Flight Emissions Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <div class="topnav">
      <img src="{{url_for('static', filename='img/paper_plane.png')}}"/>
      <a class="active" href="/">Home</a>
      <a href="/calculator">Calculator</a>
    </div>
    <h1>Emission Calculator</h1>
    <p>
      Choose Calculator at the top to calculate emissions from your flights.
      <br>
      Enjoy this mini version of the app I hope to complete. Eventually, I will be able to transfer bulk entry functionality
      This will allow you to quickly format all of your flights in one file and get the full results in seconds.
    </p>
    <br>
    Please reach out to me here <a href="mailto:jacksontmartz@gmail.com">jacksontmartz@gmail.com</a> if you have questions or concerns with the app.
    <br>
    
  </body>
</html>